nav {
  display: flex;
  align-items: center;
  font-size: 16px;
}

nav > ul {
  margin: auto 20px;
  list-style: none;
}

nav li {
  margin: 0 10px;
  display: inline;
}

a {
  color: inherit;
  text-decoration: inherit;
}
